# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
mods/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

__pycache__
mcp-env
*.egg-info/

# minecraft config
eula.txt
server.properties

# sample nbt files
*.nbt
*.nbt.gz