[submodule "starlark-service/starlark-to-nbt"]
	path = starlark-service/starlark-to-nbt
	url = https://github.com/wmill/starlark-to-nbt
[submodule "starlark-service/nbt-image-gen"]
	path = starlark-service/nbt-image-gen
	url = https://github.com/wmill/nbt-image-gen.git
